In [10]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import yfinance as yf 

%matplotlib inline

In [18]:
ETFS_AND_MFS = [
"QQQ",
"QQQM",
"VTI",
"VOO",
"SPY",
"VTSAX",
"SQQQ",
"TQQQ"
]

query_str = " ".join(ETFS_AND_MFS)
query_str

'QQQ QQQM VTI VOO SPY VTSAX SQQQ TQQQ'

In [19]:
data = yf.download(query_str, period="1y")

[*********************100%%**********************]  8 of 8 completed

In [20]:
data

Price        Adj Close                                                \
Ticker             QQQ        QQQM         SPY       SQQQ       TQQQ
Date
2023-06-15  367.802307  151.187607  436.282135  17.892775  40.994751
2023-06-16  365.487732  150.224640  434.796051  18.229490  40.206390
2023-06-20  364.964539  150.072510  432.540283  18.304317  40.009300
2023-06-21  359.990906  148.094086  430.324036  19.049612  38.405838
2023-06-22  364.238373  149.764297  431.877411  18.414310  39.681099
...                ...         ...         ...        ...        ...
2024-06-10  464.829987  191.279999  535.659973   9.220000  67.830002
2024-06-11  468.019989  192.600006  536.950012   9.030000  69.230003
2024-06-12  474.149994  195.089996  541.359985   8.680000  71.959999
2024-06-13  476.720001  196.179993  542.450012   8.540000  73.110001
2024-06-14  479.190002  197.190002  542.780029   8.430000  74.169998

Price                                                Close              ...  \
Ticker             VOO         VTI       VTSAX         QQQ        QQQM  ...
Date                                                                    ...
2023-06-15  400.670349  216.757645  105.905273  370.260010  152.289993  ...
2023-06-16  399.192810  215.940201  105.480225  367.929993  151.320007  ...
2023-06-20  397.350739  214.876556  104.956337  366.899994  150.949997  ...
2023-06-21  395.173767  213.694733  104.412666  361.899994  148.960007  ...
2023-06-22  396.611938  214.265945  104.680573  366.170013  150.639999  ...
...                ...         ...         ...         ...         ...  ...
2024-06-10  492.410004  263.829987  128.380005  464.829987  191.279999  ...
2024-06-11  493.529999  264.279999  128.660004  468.019989  192.600006  ...
2024-06-12  497.640015  266.769989  129.850006  474.149994  195.089996  ...
2024-06-13  498.579987  266.890015  129.970001  476.720001  196.179993  ...
2024-06-14  498.980011  266.690002  129.770004  479.190002  197.190002  ...

Price             Open                Volume                                 \
Ticker             VTI       VTSAX       QQQ     QQQM        SPY       SQQQ
Date
2023-06-15  216.990005  107.139999  71138800   949800  110303100  167106400
2023-06-16  221.419998  106.709999  80875900  1002400  114121300  127019300
2023-06-20  218.380005  106.180000  49204700  1093000   76160400  111336300
2023-06-21  217.820007  105.629997  53378300   973600   76982300  125058700
2023-06-22  216.509995  105.500000  47603000   763500   70637200  118944600
...                ...         ...       ...      ...        ...        ...
2024-06-10  262.329987  128.380005  20719800   962800   35729300   93996700
2024-06-11  263.000000  128.660004  22053300   957700   36383400   99795600
2024-06-12  267.089996  129.850006  34532600  1141500   63251300  184028100
2024-06-13  267.470001  129.970001  25859000  1105300   44760900  117974300
2024-06-14  265.859985  129.770004  23141500  1478400   40032000  110716600

Price
Ticker           TQQQ      VOO      VTI VTSAX
Date
2023-06-15  127937000  5285000  2895100     0
2023-06-16  112156600  5132700  4762600     0
2023-06-20   84124900  4242900  3156500     0
2023-06-21   99633300  3423500  2713400     0
2023-06-22  105099600  3141000  2669100     0
...               ...      ...      ...   ...
2024-06-10   36226800  3465200  2142700     0
2024-06-11   35693400  4028400  3017300     0
2024-06-12   62201300  3698800  2762600     0
2024-06-13   43642500  8808900  2285200     0
2024-06-14   35376300  5754200  2204300     0

[252 rows x 48 columns]